extends cstyle
## Main
# main
snippet main
	#include <stdio.h>

	int main(int argc, const char *argv[]) {
		${0}


		return 0;
	}
##
## Preprocessor
# #include <...>
snippet inc
	#include <${1:stdio}.h>
# #include "..."
snippet Inc
	#include "${1:`vim_snippets#Filename("$1.h")`}"
##
